body {
    justify-content: center;
    align-items: center;
    height: '100%';
    
}
.circle{
padding: 50px;
justify-content: center;
display: flex;

}
.carta{
    font-weight: bold;
    background-color: rgb(171, 117, 196);
    padding: 50px;
    border-radius: 20px;
}


.error{
    border: 1px solid red;
}


.errorMessage{
    color: red;

}